@import 'bootstrap-sass/assets/stylesheets/bootstrap';


body{
   font-family: 'Open Sans', sans-serif;
}

.img-responsive {
    margin: 0 auto;
}

header{
    background-color: #202025;
    height: 80px;
    
    .fa-shopping-cart{
        font-size: 30px;
        margin-top: 25px;
        color: #dc9438;
    }
}

/** Lista de Produtos **/
.boxProduto{
    a{
        display: block;
        color: #000;
        text-transform: capitalize;
        font-size: 14px;
        margin: 35px 0;
        text-align: left;
        height: auto;
        min-height: 33px;
        &{
            text-decoration: none;
        }
    }

    hr{
        margin-top: 10px;
        margin-bottom: 10px;
        border: 0;
        border-top: 3px solid #dfbd00;
        width: 5%;
    }

    .title {
        margin: 15px auto;
    }

    .price strong{
        font-size: 24px;
    }

    .pagamento{
        color: #999999;
        font-weight: 600;
    }
}