/** Bootstrap **/
@import 'bootstrap-sass/assets/stylesheets/bootstrap';

/** Default **/
html,body{
    width: 100%;
    height:100%;
    font-family: 'Open Sans', sans-serif;
    outline: 0;
}

.img-responsive {
    margin: 0 auto;
}

/** Header **/
header{
    background-color: #202025;
    height: 80px;

    .fa-cart-plus{
        font-size: 30px;
        margin-top: 8px;
        color: #dc9438;
        cursor: pointer;
    }

    h3{
        cursor: pointer;
        color: #fff;
        font-size: 16px;
    }
}

/** Carrinho **/
.carrinho{
    background-color: #202025;
    height: 100%;
    display: block;
    width: 100%;
    max-width: 60%;
    right: 0;
    position: absolute;
    z-index: 9999;

    img{
        margin-top: 35px;
    }
    .list-group {
        margin-top: 35px;
    }
    .list-group-item {
        position: relative;
        display: block;
        padding: 0;
        margin-bottom: 0;
        background-color: transparent;
        border-top: 1px solid #000;
        width: 100%;
        max-width: 95%;
        height: 140px;
        margin: 0 auto;
        border-radius: 0;
        border-right: 0;
        border-left: 0;
        border-bottom: 0;

        .thumb{
            img{
                margin-top: 35px;
                float: left;
                clear: both;
                width: 100%;
            }
        }

        .infosItens{

        }
        .title {
            margin-top: 40px;
            float: left;
            color: #fff;
            width: 100%;
            max-width: 90%;
        }

        .style{
            margin-top: 10px;
            float: left;
            color: #999999;
            font-size: 12px;
            width: 100%;
            max-width: 90%;
        }

        .quantidade{
            margin-top: 10px;
            float: left;
            color: #999999;
            font-size: 12px;
            width: 100%;
            max-width: 90%;
        }

        .price{
            color: #dfbd00;
        }

        .fechar{
            color: #000000;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }
    }

    .total{
        width: 100%;
        max-width: 95%;
        margin: 0 auto;
        color: #919193;
        padding-left: 17px;

        span{
            color: #dfbd00;
            font-size: 24px;
            text-align: right;
        }
    }
    .pagamento{
        color: #3e3e42;
        font-weight: 600;
        width: 100%;
        max-width: 90%;
        margin-top: 0px;
        text-align: right;
        font-size: 12px;
        clear: both;
    }

    .comprar{

        .btn-default {
            color: #333;
            background-color: #fff;
            border-color: #ccc;
            background-color: #000;
            color: #fff;
            clear: both;
            width: 100%;
            height: 50px;
            max-width: 92%;
            margin: 100px auto;
            float: none;
            display: -webkit-box;
            border: none;
            border-radius: 0;

        }
    }
}

/** Lista de Produtos **/
.boxProduto{
    a{
        display: block;
        color: #000;
        text-transform: capitalize;
        font-size: 14px;
        margin: 35px 0;
        text-align: left;
        height: auto;
        min-height: 33px;
        &{
            text-decoration: none;
        }
    }

    hr{
        margin-top: 10px;
        margin-bottom: 10px;
        border: 0;
        border-top: 3px solid #dfbd00;
        width: 5%;
    }

    .title {
        margin: 15px auto;
    }

    .price strong{
        font-size: 24px;
    }

    .pagamento{
        color: #999999;
        font-weight: 600;
    }
}